* {
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    padding: 5px 10px;
}

span#roomId {
    background-color: bisque;
}

div#buttons>button {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}